@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: black;
}

#text {
  font-size: 1.6em;
}

#author {
  font-size: 1.2em;
}

.btn-space {
  margin-right: 5px;
}
